In [1]:
import pandas as pd
import yfinance as yf

In [2]:
df_yahoo = yf.download('AAPL'
                       ,start='2010-01-01'
                       , end='2020-12-31'
                       , progress=False)

In [3]:
df_yahoo.head(5)

                Open      High       Low     Close  Adj Close     Volume
Date
2009-12-31  7.611786  7.619643  7.520000  7.526071   6.462008  352410800
2010-01-04  7.622500  7.660714  7.585000  7.643214   6.562588  493729600
2010-01-05  7.664286  7.699643  7.616071  7.656429   6.573935  601904800
2010-01-06  7.656429  7.686786  7.526786  7.534643   6.469368  552160000
2010-01-07  7.562500  7.571429  7.466071  7.520714   6.457408  477131200

In [4]:
##################################
test = yf.download('AAPL'
                       ,start='2010-01-01'
                       , end='2020-12-31'
                       , progress=True)

[*********************100%***********************]  1 of 1 completed

In [5]:
del test

In [6]:
####################################

In [7]:
#yahoofinancials library to download data